<div class="row">
  <div class="col col-xl-12 col-lg-12">
    <div class="card mb-3">
      <div class="card-block">
        <form role="form" #userSaveForm="ngForm" novalidate (ngSubmit)="registerUser()" novalidate>

            <div class="form-group"
            [ngClass]="{
           'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
           'has-success': firstName.valid && (firstName.dirty || firstName.touched)
              }" >
              <label class="form-control-label" for="firstName">First Name</label>
              <input type="text" class="form-control"  id="firstName" name="firstName" [(ngModel)]="user.firstName"  required minlength="3" maxlength="25"  #firstName="ngModel">
              <div class="form-control-feedback" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                <p *ngIf="firstName.errors.required">First Name is required</p>
                <p *ngIf="firstName.errors.minlength">First Name must be at least 3 characters long</p>
              </div>
            </div>
  
           <div class="form-group" [ngClass]="{
            'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
            'has-success': lastName.valid && (lastName.dirty || lastName.touched)
               }"  >
              <label class="form-control-label" for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName" required minlength="3" maxlength="25"  #lastName="ngModel">
              <div class="form-control-feedback" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                <p *ngIf="lastName.errors.required">Last Name is required</p>
                <p *ngIf="lastName.errors.minlength">Last Name must be at least 3 characters long</p>
              </div>
            </div>
  
            <div class="form-group" [ngClass]="{
              'has-danger': nic.invalid && (nic.dirty || nic.touched), 
              'has-success': nic.valid && (nic.dirty || nic.touched)}">
              <label class="form-control-label" for="nic">NIC</label>
              <input type="text" class="form-control" nicvalidator id="nic" name="nic" [(ngModel)]="user.nic" required minlength="10" maxlength="10"
                #nic="ngModel">
              <div class="form-control-feedback" *ngIf="nic.errors && (nic.dirty || nic.touched)">
                <p *ngIf="nic.errors.required">NIC is required</p>
                <p *ngIf="nic.errors.nicvalidator">Please provide a valid nic</p>
              </div>
            </div> 
  
            <div class="form-group" [ngClass]="{
              'has-danger': email.invalid && (email.dirty || email.touched), 
              'has-success': email.valid && (email.dirty || email.touched)}">
              <label class="form-control-label" for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" emailvalidator [(ngModel)]="user.email" required 
                #email="ngModel">
              <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                <p *ngIf="email.errors.required">Email is required</p>
                <p *ngIf="email.errors.emailvalidator">Please provide a valid email address</p>
              </div>
            </div>

            <div class="form-group" [ngClass]="{
              'has-danger': telephone.invalid && (telephone.dirty || telephone.touched), 
              'has-success': telephone.valid && (telephone.dirty || telephone.touched)}">
              <label class="form-control-label" for="telephone">Telephone</label>
              <input type="text" class="form-control" id="telephone" name="telephone" telephonevalidator [(ngModel)]="user.telephone.personal" required 
                #telephone="ngModel">
              <div class="form-control-feedback" *ngIf="telephone.errors && (telephone.dirty || telephone.touched)">
                <p *ngIf="telephone.errors.required">Telephone is required</p>
                <p *ngIf="telephone.errors.telephonevalidator">Please provide a valid telephone number</p>
              </div>
            </div>
  
           <div class="form-group" [ngClass]="{
              'has-danger': address.invalid && (address.dirty || address.touched), 
              'has-success': address.valid && (address.dirty || address.touched)}">
              <label class="form-control-label" for="address">Adress</label>
              <textarea class="form-control" id="address" name="address" [(ngModel)]="user.address" required minlength="10" maxlength="500"
                #address="ngModel"></textarea>
              <div class="form-control-feedback" *ngIf="address.errors && (address.dirty || address.touched)">
                <p *ngIf="address.errors.required">Address is required</p>
                <p *ngIf="address.errors.minlength">Address must be at least 10 characters long</p>
              </div>
            </div>
          <div class="form-group">
            <label>Select Roles</label><br/>
            <label>
              <input type="checkbox" name="lecturer" [(ngModel)]="user.roles.lecturer" [checked]="user.roles.lecturer">
              Lecturer
            </label>
            <label>
              <input type="checkbox" name="moderator" [(ngModel)]="user.roles.moderator">
              Moderator
            </label>
            <label>
              <input type="checkbox" name="admin" [(ngModel)]="user.roles.admin">
              Admin
            </label>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="userSaveForm.invalid">Submit</button>
          <button type="reset" class="btn btn-secondary">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>