<div class="row">
  <div class="col col-xl-12 col-lg-12">
    <div class="card mb-3">
      <div class="card-block">
        <form role="form" #tutionSaveForm="ngForm" novalidate (ngSubmit)="saveTution()" novalidate>

          <div class="form-group">
            <label class="form-control-label" for="type">Tution Class Type</label>
            <select class="form-control" name="type" [(ngModel)]="tution.type">
              <option *ngFor="let type of tutionTypes" [ngValue]="type.value">{{type.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="size">Class Size</label>
            <select class="form-control" name="size" [(ngModel)]="tution.size">
              <option *ngFor="let size of tutionSizes" [ngValue]="size.value">{{size.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="day">Day of The Week</label>
            <select class="form-control" name="day" [(ngModel)]="tution.day">
              <option *ngFor="let day of days" [ngValue]="day.value">{{day.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="timeOfThDay">Time of The Day</label>
            <select class="form-control" name="timeOfThDay" [(ngModel)]="tution.timeOfTheDay">
              <option *ngFor="let timeOfThDay of timesOfThDay" [ngValue]="timeOfThDay.value">{{timeOfThDay.name}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="tutionSaveForm.invalid">Submit</button>
          <button type="reset" class="btn btn-secondary">Cancel</button>
        </form>
      </div>
    </div>
    <pre>{{tution | json}}</pre>
  </div>
</div>