<app-page-header [heading]="'Lecturer'" [icon]="'fa-user-circle'"></app-page-header>
<div class="row">
  <div class="col col-xl-12 col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        <a class="btn btn-sm btn-primary" [routerLink]="['save']" [routerLinkActive]="['router-link-active']">Add New Lecturer</a>
      </div>
      <div class="card-block table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Key</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>NIC</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lecturer of lecturers | async">
              <td>{{lecturer.$key}}</td>
              <td>{{lecturer.firstName}}</td>
              <td>{{lecturer.lastName}}</td>
              <td>{{lecturer.email}}</td>
              <td>{{lecturer.address}}</td>
              <td>{{lecturer.nic}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
